@page "/fetchdata"
@inject HttpClient Http
@using BlazorApp2.Shared;

<h1>JSON</h1>

@if (string.IsNullOrEmpty(name))
{
    <p><em>Loading...</em></p>
}
else
{
    @name
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<WeatherInfoModel> forecasts = new List<WeatherInfoModel>();
    private string name;

    protected override async Task OnInitializedAsync()
    {
        WeatherReplyModel response = await Http.GetFromJsonAsync<WeatherReplyModel>("https://localhost:5001/WeatherForecast/GetWeather/name");
        name = response.Name;
        forecasts = response.Forecasts;
    }
}
